/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Lora:regular);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:focus-visible,
button:focus-visible {
  outline-offset: 1px;
  outline: #005fcc auto 1px;
}

.title,
.title2 {
  font-family: "Lora", sans-serif;
  font-size: 80px;
  line-height: 1.3;
  color: #574e56;
}

.title2 {
  font-size: 40px;
}

.text-upper {
  font-size: 13px;
  letter-spacing: 0.06em;
  color: #574e56;
}

.svg-arrow {
  width: 12px;
  height: 13px;
  fill: #fff;
}

.svg-benance {
  width: 24px;
  height: 24px;
  fill: #000;
}

.svg-email {
  width: 24px;
  height: 24px;
  fill: #574e56;
}

.svg-insta {
  width: 24px;
  height: 24px;
  fill: #000;
}

.svg-location {
  width: 23px;
  height: 33px;
  fill: #000;
}

.svg-phone {
  width: 18px;
  height: 24px;
  fill: #000;
}

.svg-pinterest {
  width: 24px;
  height: 24px;
  fill: #000;
}

.container {
  width: 1276px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  height: 800px;
  background: #f9f8f6;
}

.header-top {
  padding-top: 30px;
  height: 70px;
  background: #fff;
}

.header__nav a {
  text-transform: uppercase;
}
.header__nav a + a {
  margin-left: 40px;
}
.header__nav a:hover {
  position: relative;
  color: #f6d5a7;
  transition: 0.5s;
}
.header__nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #f6d5a7;
}
.header__nav a:hover::before {
  width: 100%;
  transition: 0.5s;
}

.header-title {
  padding-top: 193px;
  margin-bottom: 127px;
}

.portfolio {
  padding: 88px 0 100px;
  color: #e5e5e5;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-card {
  width: 400px;
  height: 450px;
  overflow: hidden;
}
.portfolio-card:hover img {
  transform: scale(1.05);
  filter: grayscale(1);
}
.portfolio-card img {
  transition: filter 0.3s, transform 0.3s;
}

.about {
  padding: 100px 0 197px;
  background-color: #574e56;
  color: #fff;
}

.about__content {
  display: flex;
  align-items: center;
  column-gap: 115px;
}

.about__img {
  flex-shrink: 0;
}

.about__desc {
  max-width: 456px;
}

.about__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  row-gap: 25px;
  line-height: 1.7;
}
.about__text p + p {
  margin-top: 0;
}

.about__statistic {
  display: flex;
  column-gap: 112px;
}

.num {
  font-family: "Lora", serif;
  font-size: 100px;
  line-height: 128px;
  color: #f6d5a7;
}

.animated-number .num {
  opacity: 0;
}

.header-title {
  max-width: 463px;
}
.header-title .title {
  margin-bottom: 10px;
}

.portfolio__title {
  margin-bottom: 51px;
}

.about__title {
  margin-bottom: 97px;
}

.title2--white {
  color: #fff;
}

.promo-video {
  width: fit-content;
  display: flex;
  cursor: pointer;
}
.promo-video img {
  transition: all 0.5s;
}
.promo-video img:hover {
  filter: grayscale(1);
}
.promo-video p {
  max-width: 170px;
  line-height: 1.71429;
  transition: color 0.5s;
}
.promo-video:hover p {
  color: #ce9d59;
}
.promo-video:hover .promo-video__btn {
  background-color: #ce9d59;
}

.promo-video__text {
  position: relative;
  left: -39px;
  display: flex;
  align-items: center;
  column-gap: 23px;
}
.promo-video__text p {
  color: #000;
  padding-top: 20px;
}

.promo-video__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #f6d5a7;
  transition: background-color 0.5s;
}

.header-slider-wrapper {
  position: absolute;
  width: 50%;
  max-width: 690px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f6d5a7;
}
.header-slider-wrapper .owl-dots {
  position: absolute;
  left: 48px;
  bottom: 49px;
  z-index: 2;
}
.header-slider-wrapper img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.header-slider__nav {
  position: absolute;
  right: 81px;
  bottom: 35px;
  z-index: 2;
}

.owl-dots button.owl-dot.active span {
  background-color: #fff;
}

.owl-dot span {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.owl-dot + .owl-dot {
  margin-left: 9px;
}

.slider-next,
.slider-prev {
  width: 64px;
  height: 62px;
  border: 1px solid #fff;
  transition: border 0.5s;
}
.slider-next svg,
.slider-prev svg {
  transition: fill 0.5s;
}
.slider-next:hover,
.slider-prev:hover {
  border: 1px solid #f6d5a7;
}
.slider-next:hover svg,
.slider-prev:hover svg {
  fill: #f6d5a7;
}

.slider-next {
  margin-right: 15px;
}

.slider-next {
  transform: rotate(180deg);
}/*# sourceMappingURL=main.css.map */