.contacts {
	padding: 88px 0 146px;
	@include mobile {
		padding: 34px 0 36px;
	}
}

.contacts__title {
	margin-bottom: 91px;
	@include mobile {
		margin-bottom: 33px;
	}
}

.contacts__content {
	display: flex;
	align-items: flex-start;
	column-gap: 125px;
	@include respond-to(1299px) {
		column-gap: 55px;
	}
	@include mobile {
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 45px;
	}
}
.contacts-form-wrapper {
	width: 505px;
	flex-shrink: 0;
	@include mobile {
		width: 100%;
	}
}
.contacts-form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	max-width: 505px;
}

.contacts-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 62px 67px;
	&__item {
		display: flex;
		column-gap: 20px;

		a {
			line-height: 1.71429;
			color: #907965;
		}
	}

	&__text {
		.text-upper {
			margin-bottom: 3px;
		}
		p + p {
			margin-top: 3px;
			color: #91756a;
		}
	}

	@include respond-to(1100px) {
		gap: 62px 30px;
	}
}
