.header-slider-wrapper {
	position: absolute;
	width: 50%;
	max-width: 690px;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #f6d5a7;
	.owl-dots {
		position: absolute;
		left: 48px;
		bottom: 49px;
		z-index: 2;
	}

	img {
		width: 100%;
		height: 800px;
		object-fit: cover;
	}
}
.header-slider__nav {
	position: absolute;
	right: 81px;
	bottom: 35px;
	z-index: 2;
}

.owl-dots button.owl-dot.active span {
	background-color: #fff;
}

.owl-dot span {
	display: inline-block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #c4c4c4;
}

.owl-dot + .owl-dot {
	margin-left: 9px;
}

.slider-next,
.slider-prev {
	width: 64px;
	height: 62px;
	border: 1px solid #fff;
	transition: border 0.5s;
	svg {
		transition: fill 0.5s;
	}
	&:hover {
		svg {
			fill: #f6d5a7;
		}
		border: 1px solid #f6d5a7;
	}
}

.slider-next {
	margin-right: 15px;
}

.slider-next {
	transform: rotate(180deg);
}
