@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Lora:regular);

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	// font-family: "Lora", serif;
	font-size: 16px;
	letter-spacing: 0.3px;
	color: #000;
}

a,
a:link,
a:visited {
	color: #0f7dff;
	text-decoration: underline;
}

a:focus,
button:focus {
	outline-offset: 1px;
	outline: #005fcc auto 1px;
}

p + p {
	margin-top: 1em;
}
